<footer class="container-fluid bg-light py-2 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">
          &copy; {{ 'now' | date: "%Y" }} Rigo Games
        </small>
      </div>
      <div class="col-md-6 text-md-end">
        <small class="text-muted">
          Uses <a href="https://www.goatcounter.com/" target="_blank" class="text-muted">GoatCounter</a> for privacy-friendly analytics
        </small>
      </div>
    </div>
  </div>
</footer>