<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

  <a href="{{ site.baseurl }}/" class="navbar-left">
    <img id="logo" src="{{ site.baseurl }}/assets/images/transparent.png" alt="D&D Varlyn Home">
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      {% for nav in site.data.navigation %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ nav.header }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if nav.subheads == true %}
            {% for subnav in nav.subheaders %}
              <a class="dropdown-item" href=""><b>{{ subnav.header }}</b></a>
              {% for collection in site.collections %}
                {% if collection.label == subnav.folder %}
                  {% for doc in collection.docs %}
                    <a class="dropdown-item" href="{{ site.baseurl }}{{ doc.url }}">&nbsp;&nbsp;&nbsp;{{ doc.title }}</a>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% else %}
            {% for collection in site.collections %}
              {% if collection.label == nav.folder %}
                {% for doc in collection.docs %}
                  <a class="dropdown-item" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </li>
      {% endfor %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/RulesMagic/spells.html" >Spells</a>
      </li>
    </ul>

    <!-- Search box -->
    <div id="search-container" class="d-flex">
      <input type="text" id="site-search-input" placeholder="Search content..." aria-label="Search">
      <div id="search-results"></div>
    </div>
  </div>
</nav>
