<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

  <a href="{{ site.baseurl }}" class="navbar-left">
    <img id="logo" src="{{ site.baseurl }}/assets/images/transparent.png">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for collection in site.collections %}
      {% if collection.label != 'posts' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ collection.label }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for doc in collection.docs %}
          <a class="dropdown-item" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
          {% endfor %}
        </div>
      </li>
      {% endif %}
      {% endfor %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          External
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://uppsalarollspel.gitlab.io/path-stats/">Statistics</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
