
@font-face {
  font-family:SolberaImitationRemake;
  src:url('../fonts/Solbera Imitation Tweak.woff2');
  font-weight:normal;
  font-style:normal
}

@font-face {
  font-family:ScalySansRemake;
  src:url('../fonts/Scaly Sans.woff2');
  font-weight:normal;
  font-style:normal
}

@font-face {
  font-family:ScalySansSmallCapsRemake;
  src:url('../fonts/Scaly Sans Caps.woff2');
  font-weight:normal;
  font-style:normal
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0;
  font-family: MrJeeves;
  font-weight: 900;
  color: #58180D;
  font-variant: small-caps;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
}

h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
}

h1+p::first-letter {
  float:left;
  font-family:SolberaImitationRemake;
  font-style: unset;
  line-height:1em;
  font-size:3.5cm;
  padding-left:40px;
  margin-left:-40px;
  margin-top:-0.3cm;
  padding-bottom:2px;
  margin-bottom:-20px;
  background-image:linear-gradient(-45deg, #322814, #998250, #322814);
  background-clip:text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,0)
}

.featuresTable+p::first-letter {
  float:left;
  font-family:SolberaImitationRemake;
  line-height:1em;
  font-size:3.5cm;
  padding-left:40px;
  margin-left:-40px;
  margin-top:-0.3cm;
  padding-bottom:2px;
  margin-bottom:-20px;
  background-image:linear-gradient(-45deg, #322814, #998250, #322814);
  background-clip:text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,0)
}


table {
  margin-left: 10px;
  margin-bottom: 5px;
  /* background-image: url("../images/table.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  padding: 20px;
}

details {
  margin-top: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1px;
  padding: 4px;
  border-style: double;
  border-width: 1px;
  border-color: rgba(90, 88, 88, 0.5);
  border-radius: 5px;
}

details h1, h2, h3, h4, h5 {
  margin-top: 0.75em;
}

details p {
  margin-bottom: 2px;
}

summary {
  color: #6b4fbb;
  cursor: pointer;
  display: list-item;
}

/* -------------------------------------------------------------------- */

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------------------- */
/* nav bar dropdowns */
.navbar-nav a.dropdown-item {
  padding: 1px 10px;
}


/* ----------------------------------------------------------------------------- */
/* bullet list into columns depending on screen size */

@media only screen and (min-width: 1025px) {
  .columns ul {
    -moz-column-count: 4;
    -moz-column-gap: 40px;
    -webkit-column-count: 4;
    -webkit-column-gap: 40px;
    column-count: 4;
    column-gap: 40px;
  }
  .columnsthree ul {
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    column-count: 3;
    column-gap: 30px;
  }
  .cursedcols ul, .columnstwo ul{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .columns ul, .columnsthree ul {
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
  }
}
.columns ul, .columnsthree ul, .columnstwo ul {
  list-style: none;
  margin: 0 0 1.5em 0;
}

.columns li, .columnsthree li, .columnstwo li {
  margin-bottom: 5px;
  break-inside: avoid !important;
}

.cursedcols li {
  margin-bottom: 5px;
  break-inside: avoid !important;
}

.noliststyle ul {
  list-style: none;
  margin: 0 0 1.5em 0;
}


/* ---------------------------------------------------------------------------- */

.container-main {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: small;
}

.internal-link {
  scroll-margin-top: 80px;
}

.nav-tabs .nav-link {
  margin-bottom: 5px;
}

.nav-tabs .nav-link:hover {
  border-bottom: 1px solid grey;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #6b4fbb;
  background-color: lightgrey;
}

.skill-frame {
  background-color: lightblue;
  border-image: url(../images/descriptiveBorder.png) 12 stretch;
  border-image-outset: 4px;
  border-style: double;
  border-width: 7px;
  font-family: ScalySansRemake;
  font-size: .318cm;
  line-height: 1.2em;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 5px;
}

.skill-frame h5 {
  margin-top: 0px;
}

.skill-frame ul {
  margin-bottom: 0px;
}

.toc {
  border: 1px solid black;
  border-radius: 8px;
  float: right;
  margin: 10px 10px 0px 10px;
  padding: 5px;
  background-image: url(../images/page-background.jpg);
}

.toc p {
  color: inherit;
  padding-left:10px;
}

.toc a {
  color: inherit;
}



/* ----------------------------------------------------------------------- */
/* Class tables */

.classTable.frame {
  background-color: white;
  border: initial;
  border-collapse: separate;
  border-image-outset: 0.4cm 0.3cm;
  border-image-repeat: stretch;
  border-image-slice: 200;
  border-image-source: url(../images/frameBorder.png);
  border-image-width: 47px;
  border-style: solid;
  display: inline-block;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
}

.classTable thead tr th {
  padding-left: 5px;
}

.halfClassTable {
  float:right;
}

/* --------------------------------------------------------------------------- */
/* Archetype features tables */

.featuresTable {
  background-color: #E5E8E8;
  border-radius: 10px;;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  float:right;
}
.featuresTable h4 {
  padding: 5px;
  padding-left: 10px;
  background-color: #d42129;
  color: white;
  font-family: MrJeeves;
  font-size: large;
  font-size: 1.65em;
  font-weight: bold;
}

.featuresTable table {
  width: 95%;
}

.featuresTable th:first-child {
  text-align: center;
}



/* -------------------------------------------------------------------------- */

hr.classdivider {
  visibility: visible;
  height: 40px;
  margin: 0.12cm 0;
  background-image: url(../images/skull_divider.png);
  background-size: 100% 100%;
  border: none;
}

hr.dividerinfolk {
  visibility: visible;
  height: 5px;
  /* margin: 0.12cm 0; */
  margin-left: 20%;
  margin-right: 20%;
  background-image: url(../images/Decorative-Line-Black-PNG-Clipart.png);
  background-size: 100% 100%;
  border: none;
}

/* -------------------------------------------------------------------------- */

/* monster table stat color fix  */
.monster table tbody tr td {
  background-color: rgba(255, 0, 0, 0);
}

.monster.frame {
  border-style: solid;
  border-width: 7px 6px;
  background-color: #f2e5b5;
  background-image: url(../images/parchmentBackgroundGrayscale.jpg);
  border-image: url(../images/monsterBorderFancy.png) 14 round;
  border-image-outset: 0px 2px;
  background-blend-mode: overlay;
  filter: drop-shadow(1px 4px 6px #888);
  padding: 4px 2px;
  margin-left: 50px;
  margin-right: 30px;
  max-width: 300px;
  float: left;
}

.monster {
  font-family: ScalySansRemake;
  font-size: .318cm;
  line-height: 1.2em;
  position: relative;
  padding: 0px;
  margin-bottom: 0.325cm;
  margin-left: 0px;
}

.monster hr {
  visibility: visible;
  height: 6px;
  margin: 0.12cm 0;
  background-image: url(../images/redTriangle.png);
  background-size: 100% 100%;
  border: none;
}

.multimonster.frame {
  margin: 0px;
  float: none;
}

/* --------------------------------------------------------------------------- */

/* Feat block */
.feat {
  background-color: #E5E8E8;
  color: black;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 0.95em;
  padding: 2px;
}

.feat h2 {
  padding: 5px;
  background-color: #d42129;
  color: white;
  font-size: large;
  font-weight: bold;
}


/* --------------------------------------------------------------------------- */

/* Info areas */
.descriptive, .infoarea {
  -webkit-box-align: center;
  font-family: ScalySansRemake;
  font-size: .318cm;
  line-height: 1.2em;
  border-style: solid;
  border-width: 7px;
  background-color: #b5e2f1 !important;
  border-image: url(../images/descriptiveBorder.png) 12 stretch;
  border-image-outset: 4px;
  padding: 2px;
  filter: drop-shadow(0 0 3px #faf7ea);
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 0px;
  padding-bottom: -10px;
}

.descriptive h5, .infoarea h5 {
  font-family: ScalySansSmallCapsRemake;
  font-size: .423cm;
  font-weight: 900;
  line-height: .951em;
}

.descriptive p, .infoarea p {
  padding: 0px;
  margin: 0px
}

.infoarea {
  float: right;
  max-width: 50%;
}

.infoarea ul {
  margin-bottom: -8px;
}


.edictsbox {
  font-family: ScalySansRemake;
  font-size: .318cm;
  line-height: 1.2em;
  border-style: solid;
  border-width: 7px;
  background-color: #b5e2f1 !important;
  border-image: url(../images/descriptiveBorder.png) 12 stretch;
  border-image-outset: 4px;
  padding: 2px;
  margin-left: 75px;
  margin-bottom: 5px;
}

/* Spell heading */
.spell {
  border-style: solid;
  border-width: 7px;
  background-color: #b5e2f1 !important;
  border-image: url(../images/descriptiveBorder.png) 12 stretch;
  border-image-outset: 4px;
  max-width: 50%;
  padding: 2px;
  margin-left: 75px;
  margin-bottom: 5px;
}



/* -------------------------------------------------------------------------- */

.phb hr+blockquote {
  background-color: #b5e2f1 !important;;
  background-position: center center;
  border-width: 6px;
  border-image: url(https://i.imgur.com/gtHyLi6.png);
  border-image-slice: 20 }

.phb blockquote {background-color: #b5e2f1 !important;}
.phb hr+blockquote hr+ul {color: #000;}
.phb hr+blockquote table {color: #000;}

.phb hr+blockquote hr {
  filter: hue-rotate(180deg);
background-image: url(https://i.imgur.com/gtHyLi6.png)}

/* ------------------------------------------------------------------------------ */

/* Rest block */
.rest {
  float: right;
  margin-bottom: 5px;;
  margin-left: 10px;
  margin-right: 10px;
}

.restHeading {
  background-color: #1E5C05;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-family: MrJeeves;
  font-size: 1.5em;
  font-variant: small-caps;
  font-weight: bold;
  padding-left: 20px;
}

.restPad {
  padding: 0px 5px 0px 5px;
}

.restTable table{
  margin-left: 0px;
  width: 100%;
}

.restTable th:first-child {
  text-align: left;
}

.restTable th {
  background-color: #E5E8E8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
  font-size: 1.1em;
}


.restTable td {
  font-size: 0.95em;
  background-color: #E5E8E8 !important;
  color: black;
}

/* ----------------------------------------------------------------------------- */

/* Tables */
table tr:nth-child(odd) td {background-color: #b5e2f1;}

/* styled Tables */
.sTable {
  background-color: #b5e2f1;
  color: white;
  border-radius: 8px;
  margin-bottom: 15px;
  border-bottom: solid;
}

.sTable h4 { padding: 8px 0px 6px 10px ; }

.sTable th {
  background-color: #E5E8E8;
  color: black;
}

.sTable td {
  font-size: 0.95em;
}

.sTable tr:nth-child(odd) td {
  background-color: #E5E8E8;
  color: black;
}

.sTable tr:nth-child(even) td {
  background-color: white;
  color: black;
}

/* Quote blocks */

blockquote {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  max-width: 500px;
  margin: 5px;
  margin-left: 50px;
}

blockquote p {
  margin: 0px;
}
