<!DOCTYPE html>

<html>
<head>
  {% include head.html %}

  <!-- Datatables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.12.0/datatables.min.css"/>

  <!-- Dark mode overrides for DataTables (modular CSS) -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/datatables-dark.css"/>

  <!-- Datatables JavaScript -->
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.12.0/datatables.min.js"></script>

  <!-- Equipment page logic (external) -->
  <script src="{{ site.baseurl }}/assets/js/equipment.js"></script>

</head>

<body>
  {% include navigation.html %}
  <div class="container container-main">
    <h1>Equipment</h1>
    <p>For most items the price is for something that is functional, used by a commoner. The price x5 is someting used by the upper end of the middle class. Lowest price x10 for upper class, and something for the aristocratic circles would cost x100.</p>
    <p id="alert" style="font-style:italic;font-size-adjust:-1;">Please wait, importing items...</p>
    <hr>
    <table class="table table-striped table-hover table-condensed" id="contentTable"></table>
  </div>
</body>
