
{% for nav in site.data.navigation %}
{% if nav.header == "Rules" %}
  <h2>{{ nav.header }}</h2>
  <ul>
    {% for subnav in nav.subheaders %}
      {% if subnav.header != "Index" %}
      <li><a class="dropdown-item" href=""><b>{{ subnav.header }}</b><ul>
        {% for collection in site.collections %}
          {% if collection.label == subnav.folder %}
            {% for doc in collection.docs %}
              <li>
                <a class="dropdown-item" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                {{ doc.content }}
              </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul></li>
      {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% endfor %}
