
{% for nav in site.data.navigation %}
{% if nav.header == "Rules" %}
  <h2>{{ nav.header }}</h2>
  <ul>
    {% for subnav in nav.subheaders %}
      {% if subnav.header != "Index" %}
        {% for collection in site.collections %}
          {% if collection.label == subnav.folder %}
            {% for doc in collection.docs %}
              {% if doc.type == "index" %}
              <li>
                <a class="dropdown-item" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                {% assign thetext = "" %}
                {% assign inside = 0 %}
                {% assign shortstr = doc.content %}
                {% for word in string %}
                  {% if word == "<div" %}
                    {% assign inside = 1 %}
                  {% endif %}
                  {% if inside == 1 %}
                    {% assign thetext = thetext | append: word %}
                  {% endif %}
                  {% if word == "</div>" %}
                    {% assign inside = 0 %}
                  {% endif %}
                {% endfor %}
                {{ thetext }}
              </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% endfor %}
