<!doctype html>
<html>
  <head>
    {% include head.html %}
    <!-- <link href="../assets/css/newstyle.css" rel="stylesheet"> -->

    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.12.0/datatables.min.css"/>
    <!-- Datatables JavaScript -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.12.0/datatables.min.js"></script>
    <!-- Papa Parse -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>

    <script type="text/javascript">
      // timeline
      // var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1prVAoIfRSMnyqJ3dTe-0jRRja8c3Gy-Be8hiP3VYn28/pub?output=csv';
      // spells
      var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1Lsmu72Ssq48d7Df2zqYDFUoHsdsOb7K1L_u1FshKJWc/pub?output=csv';

      function init() {
        Papa.parse(public_spreadsheet_url, {
          download: true,
          header: true,
          complete: fillTable
        })
      }

      window.addEventListener('DOMContentLoaded', init)

      var contentTable = $('#contentTable').DataTable({data: []});

      function fillTable(results) {
        var tableContent = []
        var data = results.data

        document.getElementById("alert").innerHTML = "Imported " + data.length + " spells.";

        data.forEach((row) => {
          var txt = "";
          txt = txt + "<h4><a class=\"internal-link\" name=\"" + row['Name'].replace(/\s/g, '') + "\">" + row['Name'] + "</h4>";
          if (row['Level'] == "0") {
            txt = txt + "<i>Cantrip";
          } else {
            txt = txt + "<i>Level: " + row['Level'];
          }
          if (row['Ritual'] == "Yes") {
            txt = txt + " (ritual)";
          }
          txt = txt + "</i><br/>";
          txt = txt + "<b>Casting time: </b>" + row['Casting_Time'] + "<br/>";
          txt = txt + "<b>Target: </b>" + row['Target'] + "<br/>";
          txt = txt + "<b>Range: </b>" + row['Range'] + "<br/>";
          txt = txt + "<b>Components: </b>" + row['Components'] + "<br/>";
          txt = txt + "<b>Duration: </b>";
          if (row['Conc'] == "Yes") {
            txt = txt + "Concentration, up to " + row['Duration'];
          } else {
            txt = txt + row['Duration'];
          }

          var archetypes = ""
          {% for class in page.classes %}
          if (row['{{ class }}'] != "Yes" && row['{{ class }}'] != "No")
            archetypes += row['{{ class }}'] + ", "
          {% endfor %}

          tableContent.push([
            txt,
            row['Web_Description'],
            row['Level'],
            archetypes,
            {% for class in page.classes %}
              row['{{ class }}'],
            {% endfor %}
            row['Ritual']]);
        });

        contentTable = $('#contentTable').DataTable({
          data: tableContent,
          order: [[0, 'desc']],
          ordering: false,
          iDisplayLength: -1,
          columnDefs: [
            { targets: [0,1], visible: true},
            { targets: '_all', visible: false }],
          columns: [
            { title: 'Spell'},
            { title: 'Description'},
            { title: 'Level'},
            { title: 'Archetypes'},
            {% for class in page.classes %}
            { title: '{{ class }}'},
            {% endfor %}
            { title: 'Ritual'}],
          dom: "<'row'<'col-sm-12'f>>" + "<'row'<'col-sm-12'tr>>"
        });

        {% assign levelposition = 2 %}
      };

      
      $(document).ready(function() {
        ////////////////////////////
        //// Initialize selections
        $('#classSelection').data('pre', $(this).val());
        $('.levelSelect').each(function() {
          $(this).prop('checked', true);
        });


        ////////////////////////////
        //// Level selection
        $('.levelSelect').on('change', function() {
          var levels = [];
          $('.levelSelect:checked').each(function() {
            levels.push($(this).val());
          });

          $('#contentTable').DataTable()
            .columns( '{{ levelposition }}' )
            .search( levels.join('|'), true, false )
            .draw();
          });
        
        ////////////////////////////
        //// Reset level selection
        $('#resetLevel').on('click', function() {
          
          if ($('.levelSelect').is(":checked")) {
            $('.levelSelect').each(function() {
              $(this).prop('checked', false);
            });

            $('#contentTable').DataTable()
            .columns( '{{ levelposition }}' )
            .search( 'Hide all rows' )
            .draw();

          } else {
            $('.levelSelect').each(function() {
              $(this).prop('checked', true);
            });

            $('#contentTable').DataTable()
            .columns( '{{ levelposition }}' )
            .search( '' )
            .draw();
          }
        });

        
        ////////////////////////////
        //// Class selection
        $('#classSelection').on('change', function() {
          var value_before_change = $(this).data('pre');
          var selectedClassCol = $(this).val();
          
          var table = $('#contentTable').DataTable()

          table
            .column( value_before_change )
            .search( '' )
            .draw();

          table
            .column( selectedClassCol )
            .search( '^((?!No).)*$', true, false )
            .draw();
          
          // save currently selected
          $(this).data('pre', $(this).val());
        });      
      });      
    </script>
  </head>

  <body>

    {% include navigation.html %}
    <div class="container container-main">

      {{ content }}


      <div class="form-group row">
      <label class="col-sm-1 col-form-label font-weight-bold" for="levelSelection">Spell levels:</label>

      <div class="col-sm-6">
        <label><input type="checkbox" class="levelSelect" value="0"> Cantrips</label>

        {% for n in (1..9) %}
          <label><input type="checkbox" class="levelSelect" value="{{ n }}"> {{ n }}</label>
        {% endfor %}
      </div>

      <div class="col-sm-1">
        <button class="btn btn-sm btn-outline-primary" id="resetLevel">Check/uncheck all</button>
      </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-1 col-form-label font-weight-bold" for="classSelection">Class:</label>
        <div class="col-sm-2">
          <select class="form-control" id="classSelection">
            <option value="{{ levelposition }}">All</option>

            {% assign i = firstclass %}
            {% for class in page.classes %}
              <option value="{{ i }}">{{ class }}</option>
              {% assign i = i | plus:1 %}
            {% endfor %}
          </select>    
        </div>
      </div>

      <p id="alert" style="font-style:italic;font-size-adjust:-1;">Please wait, importing spells...</p>

      <table class="table table-striped table-hover" id="contentTable"></table>

    </div>

</body>
</html>
